<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
	<properties resource="db.properties" />
	 -->
	 
	 <!-- 별명 짓기 -->
	<typeAliases>
		<typeAlias type="guestbook.bean.GuestbookDTO" alias="guestbookDTO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/guestbook-mapping.xml" />
	</mappers>
</configuration>
