@charset "utf-8";

body {
    padding-bottom: 20px;
}

#list li {
    border-bottom: 1px dotted #ccc;
}

#list li a {
    display: block;
    padding: 5px;
    width: auto;
    color: #222;
    text-decoration: none;
    position: relative;
}

#list li a .thumb {
    width: 80px;
    height: 105px;
    display: block;
    position: absolute;
    left: 10px;
    top: 5px;
}

#list .thumb img {
    width: 80px;
    height: 80px;
}

#list .text {
    display: block;
    width: auto;
    padding-top: 5px;
    padding-left: 100px;
    padding-right: 10px;
    height: 80px;
}

#list .text span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#list .text .title {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 150%;
}

#list .text .desc {
    font-size: 1em;
    line-height: 150%;
}

#list .text .info {
    font-size: 0.8em;
    line-height: 150%;
}

#list #more {
    height: 100px;
    text-align: center;
    cursor: hand;
    line-height: 100px;
}

#list #more:hover {
    background: #D9EDF7;
}
