<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.order_list">
	<!-- 아이템 보기(코드/칼러/사이즈) -->
	<select id="getItemByCodeSizeColor" parameterType="java.util.Map" resultType="int">
		SELECT item_index FROM item 
		WHERE item_code=#{item_code} AND item_size=#{item_size} AND item_color=#{item_color} 
	</select>
	
	<!-- 주문 항목 추가하기 -->
	<insert id="insertOrder_list" parameterType="order_listDTO">
		INSERT INTO order_list
		VALUES
		(
		order_list_num.nextval, #{order_list_quantity}, #{order_list_price},
		#{item_index}, #{order_num}
		)
	</insert>

	<!-- 주문 항목 리스트  -->	
	<select id="getOrder_listList" parameterType="java.util.Map" resultType="order_listDTO">
		<![CDATA[select * from  
			(select rownum rn, tt.* from
			(select * from order_list order by order_list_num desc) tt) 
			where rn>=#{startNum} and rn<=#{endNum}]]>
	</select>
	
	<!-- 주문 항목 상세보기 -->
	<select id="getOrder_list" parameterType="int" resultType="order_listDTO">
		SELECT * FROM order_list WHERE order_list_num=#{order_list_num}
	</select>
	
	<!-- 주문 항목 총 갯수 가지고 오기 -->
	<select id="getOrder_listTotalA" resultType="int">
		SELECT COUNT(*) FROM order_list
	</select>	

</mapper>
