<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Shoppingmall0918</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/application-config.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/mvc-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcherServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>filterIndexPage</filter-name>
  	<filter-class>filter.FilterIndexPage</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filterIndexPage</filter-name>
  	<url-pattern>/main/index.jsp</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>filterLogin</filter-name>
  	<filter-class>filter.FilterLogin</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filterLogin</filter-name>
  	<url-pattern>/qna/qnaWriteForm</url-pattern>
  	<url-pattern>/qna/qnaView</url-pattern>
  	<url-pattern>/review/reviewView</url-pattern>
  	<url-pattern>/review/reviewWriteForm</url-pattern>
  	<url-pattern>/order_list/cartList</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>characterEncoding</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  	<init-param>
  		<param-name>forceEncoding</param-name>
  		<param-value>true</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>characterEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>