@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Gaegu');
/*font-family: 'Gaegu', cursive;  */
@import url('https://fonts.googleapis.com/css?family=Jua');
/* font-family: 'Jua', sans-serif; */ 