/* board css start*/
.example{text-align: center; width: 1500px; margin: 0 auto; margin-bottom: 100px;  font-family: 'Gaegu', cursive;} 
.board_table {	display: block;  text-align: center;  border-top:1px solid #d1cfcf;}
.board_table tr:after {	content: ''; display: block; float: none; clear: both;}
.board_table thead, tbody, tr {display: block; width: 100%; border-bottom: 1px solid #d1cfcf;}
.board_table td, th {display: block; float: left; padding: 10px 0;}
.board_title{text-align: center; font-size: 15px; padding-bottom: 30px;}
.titleHr{border-bottom: 3px double #d1cfcf;	width: 600px;}
.boardList{font-family: 'Gaegu', cursive;}
.boardResult{font-family:'Jua', sans-serif; font-size: 10px;}
.write_btn{	margin-left: 90%;}

/* board_view css start*/
.example .movement{	text-align: left;	margin-top: 50px;}
.example .movement li{	padding: 15px; border-top: 1px solid #d1cfcf; border-bottom: 1px solid #d1cfcf;}
.example .movement a{padding-left:30px;}
.example .movement strong{	border-right: 1px solid #d1cfcf; padding-right:30px; }


/* 버튼------------------------------------- */
.btnArea { text-align: right; margin-top: 20px;}
.btnArea .left { float: left;}
.btnArea span {	border: 1px groove #d1cfcf; font-size: 20px; background-color: #ffffff; border-radius: 10px; width: 40px;}

/* 덧글 ----------------------------------------  */
	* {padding: 0; margin: 0; color:333;}
	#container { padding: 30px 20px; text-align: left;}
	#comment_write ul { list-style: none;}
	#comment_write h1 {
		font-size: large;
		border-left: 10px solid #d1cfcf;
		border-bottom: 1px solid #d1cfcf;
		padding: 10px;
		width: auto;
	}
	#comment_write {padding: 20px 15px; border: 1px solid #d1cfcf; margin-top: 50px;}
	#comment_write label {
		display: inline-block; width: 80px;
		font-size: 14px; font-weight: bold;
		margin-bottom: 10px;
	}
	#comment_write input[type='text'], #comment_write textarea {
		border: 1px solid #ccc;
		vertical-align: middle;
		padding: 3px 10px;
		font-size: 12px;
		line-height: 150%;
	}
	#comment_write textarea {
		width: 380px; height: 90px;
	}
	.comment_item {
		font-size: 13px;
		color: #333;
		padding: 15px;
		border-bottom: 1px dotted #ccc;
		line-height: 150%
	}
	.comment_item .writer {color: #555; line-height: 200%}
	.comment_item .writer input {vertical-align: middle;}
	.comment_item .writer .name {color: #222; font-weight: bold; font-size: 14px} 


