<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="test" class="sample4.AbstractTest"
		factory-method="getInstance"/> <!-- 해당 함수명을 호출 -->
	<!-- AbstractTest test = new Monday(); -->

		<!-- 싱글톤으로 만들어진 클래스를 사용하는 방법 -->
</beans>
