<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<!-- aop태그등록하기 아래탭 namespace >> aop 등록 -->
	
	<!-- advice : 횡단(공통) 관심사항 -->
	<bean id="myAspect" class="aop03.MyAspect"/>
	<bean id="woman" class="aop03.Woman"/>
	<bean id="man" class="aop03.Man"/> <!-- 객체 만든 것. -->
	<bean id="boy" class="aop03.Boy"/>
	
	<!-- aop에 등록한 것. -->
	<aop:config>
		<!-- 횡단(공통)관심사항이 설정된 advice를 등록한다. -->
		<aop:aspect ref="myAspect">
			<aop:before method="before" pointcut="execution(* *(..))"/>
			<aop:after method="after" pointcut="execution(* *(..))"/>
		</aop:aspect>
	</aop:config>
	
	

</beans>
