<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userService" class="sample3.UserServiceImpl" scope="singleton"/> 
</beans>											<!-- prototype : 매번 새로운 객체 생성-->
													<!-- singleton : 객체를 한번만 생성-->
													<!-- Default값 : singleton -->
													<!-- 속성 이름 : scope="singleton"-->
													<!-- Spring에선 bean 태그를 많이 사용 -->
						<!-- 일반 형식으로 되어 있는 클래스를 singleton으로 -->