<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sungjukDTO" class="test5.SungjukDTO">
		<property name="name" value="홍길동"/>
		<property name="kor" value="97"/>
		<property name="eng" value="100"/>
		<property name="math" value="95"/>
	</bean>

	<bean id="sungjukImpl" class="test5.SungjukImpl">
		<property name="sungjukDTO" ref="sungjukDTO"/>
	</bean>
</beans>
